#path {
    @include currentBg($main-bg-color);
    .path-timeline-item-description h3 {
        color: $main-color;
        text-align: left;
        margin-bottom: 10px;
    }
    .path-timeline {
        position: relative;
        margin-top: 75px;
        overflow: hidden;
    }
    .path-timeline-item {
        padding-top: 25px;
        align-items: center;
        margin-bottom: 75px;
        width: 100%;
        &:after {
            @include time-line-marker-dim(30px, 30px, calc(50% - 14px), 50%);
        }
        &:before {
            @include time-line-marker-dim(3px, 100%, 50%, 25px);
        }
    }

    .path-timeline-item:nth-child(even) {
        @include flex(space-evenly, row-reverse);
        position: relative;
        em:before {
            @include arrow-direction(left);
        }
        .path-timeline-item-date {
            text-align: right;
        }
    }

    .path-timeline-item:nth-child(odd) {
        @include flex(space-evenly);
        em:before {
            @include arrow-direction(right);
        }
    }

    .path-timeline-item-description,
    .path-timeline-item-date {
        flex: 0 0 40%;
    }

    .path-timeline-item-description,
    .path-timeline-item-date em {
        padding: 25px;
        background-color: #352885;
        border-radius: 5px;
    }

    .path-timeline-item-date {
        text-transform: uppercase;
        i {
            font-size: 20px;
            color: $main-color;
        }
    }

    .path-timeline-item-description h4{
        font-size: 15px;
        color: $main-color;
        margin-bottom:15px ;
    }

    .path-timeline-item-description-content > ul {
        margin-left: 10%;
    }

    .path-timeline-item-description-technologies {
        @include flex(space-evenly);
        margin-top: 15px;
        li {
            list-style: none;
            margin: 7px 5px;
            padding: 10px;
            background-color: #1c1657;
            border-radius: 35px;
            font-weight: 700;
            color: white;
            @extend %bounce-effect;
            cursor: pointer;
        }
    }

    .path-timeline-item-description-content {
        padding-top: 15px;
        li {
            margin-bottom: 15px;
            margin-left: 10px;
            display: flex;
            .em {
                height: 1.3em;
            }
            a {
                color: $main-color;
            }
        }
    } 

    i {
        margin: 0 5px;
    }

    .path-timeline-item {
        @media screen and (max-width: 1400px) {
            padding-left: 55px;
            &:after {
                left: 0;
            }
            &:before {
                left: 13px;
            }
            &:nth-child(even), &:nth-child(odd){
                @include flex(flex-end, column-reverse);
                align-items: flex-start;
                .path-timeline-item-description {
                    margin-top: 45px;
                }
                em:before {
                    border-width: 0;
                }
            }
            &:nth-child(even) {
                .path-timeline-item-date {
                    text-align: left;
                }
            }
        }

        @media screen and (max-width: 525px) {
            padding-left: 0px;
            text-align: left;
            &:before,
            &:after {
                display: none;
            }
            .path-timeline-item-description,
            .path-timeline-item-date em {
                padding: 7%;
            }
            .path-timeline-item-date {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}
