#skills {
    @include currentBg($main-bg-color);
    overflow: hidden;
    color: white;
    .skills-group {@include flex(space-around);}
    .skills-group-type {
        @include flex(space-around);
        flex: 0 1 30%;
    }
    .skills-group-type-title {flex: 1 1 100%;}
    .skills-group-type-block {
        @include flex(center, column);
        display: flex;
        text-align: center;
    }
    .skills-group-type-block {
        i {
            margin: 25px;
            font-size: 3.5em;
            &.github {color: #666666;}
            &.wordpress {color: #0087be;}
        }
        span {font-weight: 600;}
        img {
            margin: 25px 0;
        }
    }

    // Media Queries
    @media screen and (max-width: 1009px) {
        .skills-group-type {
            &:not(:first-child){margin-top:100px;}
            @include flex(space-around);
            flex: 0 1 100%;
        }
    }
}
