---
import Layout from "../layouts/Layout.astro";
import { WelcomeSection } from "../sections/welcome/welcome-section";
import { SkillSection } from "../sections/skill/skill-section";
import { ProjectSection } from "../sections/project/project-section";
import { ExperienceSection } from "../sections/experience/experience-section";
import { ContactSection } from "../sections/contact/contact-section";
import { FooterSection } from "../sections/footer/footer-section";

import "../../styles/base/_variables.scss";
import "../../styles/base/_reset.scss";
import "../../styles/base/_typography.scss";

import "../../styles/utils/_tools.scss";

import "../../styles/components/_buttons.scss";
import "../../styles/components/_titles.scss";

import "../../styles/vendor/_svg-animation.scss";

import "../../styles/sections/_welcome.scss";
import "../../styles/sections/_skill.scss";
import "../../styles/sections/_project.scss";
import "../../styles/sections/_experience.scss";
import "../../styles/sections/_contact.scss";
import "../../styles/sections/_footer.scss";
---

<Layout
    title="Mathieu Besson"
    metaDescription="Mathieu Besson : Développeur Web CV en ligne. Passionné depuis longtemps par la programmation, je vous partage ici mon parcours et mes projets."
    googleSiteVerification="8SLw0e_wvK8XB-JWvPLJVgwQgS4lbToxWUBaZ3aCXGg"
    shareImage="https://mathieu-besson.netlify.app/img/og-image.jpg"
    shareSiteUrl="https://mathieu-besson.netlify.app/"
    shareTitle="Mathieu Besson - CV en ligne"
    shareDescription="Web Developper Symfony JS💻 & 🏸 https://mathieu-besson.netlify.app/ - Mathieu Besson"
    faviconPath="img/avatar.png"
    gTagManagerToken="G-BD0YSYMKX6"
>
    <main>
        <WelcomeSection />
        <SkillSection />
        <ProjectSection />
        <ExperienceSection />
        <ContactSection />
        <FooterSection />
    </main>
</Layout>
